<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.zotero.rss.analyzer</string>
  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>-m</string>
    <string>zotero_rss_analyzer</string>
    <string>run</string>
  </array>
  <key>StartInterval</key>
  <integer>21600</integer>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>__REPO_ROOT__/logs/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>__REPO_ROOT__/logs/launchd.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>ZOTERO_RSS_ROOT</key>
    <string>__REPO_ROOT__</string>
  </dict>
</dict>
</plist>
